<nav class="nav" role="navigation">
    <ul >
        <li >
            <a  href="/">Home</a>
        </li>
        <li >
            <a onclick="backEndRequest('content','/camel/ping','get',null)" href="#">Quick Ping</a>
        </li>
        <li >
            <a href="/camel/ping">Ping</a>
        </li>
        <li >
            <a href="camel/api-docs">Camel Swagger</a>
        </li>
        <li >
            <a href="/webjars/swagger-ui/index.html?url=/camel/api-docs">Swagger UI</a>
        </li>
    </ul>
</nav>
