<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://camel.apache.org/schema/spring" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://camel.apache.org/schema/spring https://camel.apache.org/schema/spring/camel-spring.xsd">

	<route id="basicRoute">
		<from id="basicRouteStarter" uri="direct:start" />
		<transform>
			<simple>Hello ${body}</simple>
		</transform>
		<log message="${body}"></log>
	</route>


	<route id="http-receiver">
		<from id="http-receiver-starter" uri="servlet://ping" />
		<setHeader headerName="Content-Type">
			<constant>application/json</constant>
		</setHeader>
		<setBody>
			<simple>{"msg" : "HELLO"}</simple>
		</setBody>
		<inOnly uri="jms:queue:app.queue"/>
	</route>

	<route>
		<from uri="jms:queue:app.queue"/>
		<transacted/>
		<log message="${headers}"/>
	</route>

</routes>